body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section {
    height: 500px;
    padding-bottom: 150px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange_color {
    color: orangered;
}

.top_banner {
    display: flex;
    background-image: url(/img/top-banner.png);
    background-repeat: no-repeat;
}

.middle_banner {
    display: flex;
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience_area {
    background-image: url(/img/exp-bg.png);
    background-repeat: no-repeat;
}

.half_width {
    width: 50%;
    padding-left: 10%;
}

.photo {
    width: 60%;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(cyan, skyblue);
    font-weight: 700;
}

.two_box {
    display: flex;
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}

.pro {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    margin-right: 20%;
}

.baby {
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}