body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange_color {
    color: orangered;
}

.top_banner {
    display: flex;
}

.half_width {
    width: 50%;
    padding-left: 10%;
}

.photo {
    width: 100%;
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(cyan, skyblue);
    font-weight: 700;
}